<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header('Login')">
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
    <div class="ui container">
        <h1>Login</h1>
        <form class="ui form" method="post" th:action="@{/login}">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="text" name="password" placeholder="Enter password">
            </div>
            <button class="ui button" type="submit">Login</button>
        </form>
    </div>
</body>
</html>