<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">

</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
    <div class="ui container">
        <h1>Products</h1>
        <div class="ui doubling stackable three column grid">
            <div class="column" th:each="product: ${allProducts}">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header" th:text="${product.name}"></div>
                        <div class="meta">
                            <span class="date" th:text="'€' + ${product.price}"></span>
                        </div>
                        <div class="description" th:text="${product.description}">
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui tag label" th:text="${product.category.toString().toLowerCase()}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>